@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300&display=swap');

.container{
    display: grid;
    margin: 100px 100px 100px 100px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1) ;
    padding: 20px;
    border-radius: 100px;
    border-radius: 200cm;
    background: linear-gradient(yellow, orange );
}

input{
    float: center;
    width: auto;
    margin: 10px;
    padding: 10px;
    background: whitesmoke;
    font-family: Lato;
    border-radius: 10px;
    
}

label{
    margin: 10px;
    padding-right: 130px;
}

button{
    display: grid;
    width: 30%;
    justify-self: center;
}

h1,h5{
    padding: 5px;
    margin: 5px;
}

img{
    justify-self: center;
}