img{
    width: 100%;
    height: 100%;
}

p{
    width: 100%;
}

.col-md-5{
    display: flex;
    height: max-content;
    width: 900px;
    margin: auto;
}

.form-control{
    margin-bottom: 30px;
    width: 100%;
    align-items: center;
}

.signin-form{
    padding: 100px 0 0 120px;
    max-width: fit-content;
    max-height: fit-content;
}

h1{
    padding-top: 20px;

}

.text-center{
    padding: 0 100px 0 0;
}